/* Dark Mode Styles */
body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

body.dark-mode header {
    background: #222;
    border-bottom: #555 3px solid;
}

body.dark-mode section h2 {
    color: #77aaff;
}

body.dark-mode .job h3, body.dark-mode .school h3 {
    color: #77aaff;
}

body.dark-mode footer {
    background: #222;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Controls */
.controls {
    text-align: center;
    margin-top: 10px;
}

.controls button {
    background: #77aaff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.controls button:hover {
    background: #5599ff;
}